version: '3'

services:
  # PROG WEB/AP Server
  tomcat-8.5:
    hostname: tomcat-8.5
    build: ./tomcat-8.5
    image: tomcat-8.5:1.0
    container_name: tomcat-8.5
    ports:
      - "8080:8080"
      - "22:22"
