version: '3'

services:
  # PROG WEB/AP Server
  tomcat-8.5:
    hostname: tomcat-8.5
    build: ./tomcat-8.5
    image: tomcat-8.5:1.0
    container_name: tomcat-8.5
    ports:
      - "8080:8080"
    volumes:
      - ./:/tmp/work/:ro
    command: /tmp/work/wait-for-it.sh oracle-12c:1521 -t 0 -- bash -c "sleep 30 && /usr/local/apache-tomcat-8.5.32/bin/catalina.sh run"
    depends_on:
      - oracle-12c

  # PROG DB Server
  oracle-12c:
    hostname: oracle-12c
    build: ./oracle-12c
    image: oracle-12c:1.0
    container_name: oracle-12c
